{% extends 'ship/base.html' %}
{% block title %}index{% endblock %}


{% block body %}


    <div class="container-fluid">
        <h1> Ship Layout</h1>
        <h1> </h1>
        <div class="row">
            <div class="col-md-4 col-md-offset-2" style="background-color:gray; border: 2px solid black"><strong><p class="text-center">ENGINE ROOM</p></strong><br><br><strong><p class="text-center">{{ engine_counter }}</p></strong><br></div>
            <div class="col-md-4" style="background-color:gray; border: 2px solid black"><strong><p class="text-center">CIC</p></strong><br><br><strong><p class="text-center">{{ cic_counter }}</p></strong><br></div>
        </div>
    </div>

    <h1>CIC soldiers</h1>
    <ul>
{#            {% for singlerecord in last_records %}#}
{#                {% if singlerecord.compartment == 532 %}#}
{#                {{ singlerecord.soldier_name }}#}
{#                {% endif %}#}
{#            {% endfor %}#}
    </ul>

{#   <h1>Here are all the ship records</h1>#}
{#    <ul>#}
{#        {% for singlerecord in all_records %}#}
{#        <li>{{ singlerecord.tag_string}}, {{singlerecord.time_stamp}}, {{singlerecord.compartment }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}

{% endblock %}